<div class="background">
  <div class="header">
    <h1>CCA</h1>
  </div>
  <div class="Intro">
    <div class="title">Projeto de Programação Web</div>
    <div class="container">
      <p class="p1">
        Este projeto foi desenvolvido no ambito da disciplina de Programação Web
        e tem como objetivo responder ao enunciado CCA
      </p>
      <p class="p2">
        O tema do enunciado é criar uma plataforma para gerir as avaliações de
        docentes e os documentos referentes as mesmas
      </p>
    </div>
    <button class="buttonConfirm" (click)="startApp()">Iniciar</button>
  </div>
</div>
