.background{
  background-color: #F6FFF8;
  height: 100vh;
}

.header{
  padding: 20px 50px;
}

.title{
  font-size: 45px;
  font-weight: bold;
}

.buttonConfirm{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-radius: 25px;
  background-color: #A4C3B2;
  color:black;
  width: 200px;
  height: 60px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s border 0.5s;
}

.buttonConfirm:hover{
  background-color: #6B9080;
  border: 2px solid black;
  color:white;
  transition: background-color 0.5s, color 0.5s border 0.5s;
}

.container{
  display: flex;
  justify-content: center;
}

.panel{
  min-width: 150px;
  width: 500px;
  border-radius: 12px;
  background-color: white;
  border: 2px solid black ;
  padding: 25px ;
}

.panel-heading{
  text-align: center;
  margin: 10px 0px;
}

.input-field{
  border-radius: 5px;
  background-color: #CCE3DE;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.fa{
  color: #6B9080;
}

input[type='text'],
input[type='password']{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  background-color: #CCE3DE;
}

.number-input{
  width: 100px;
}

.container-auth{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.btn-auth{
  width: auto;
  height: 50px;
  border-radius: 5px;
  background-color: white;
  color:black;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s border 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-auth:hover{
  background-color: #CCE3DE;
  color: white;
  transition: background-color 0.5s, color 0.5s border 0.5s;
}
.fa-info-circle:hover + #tooltip{
  visibility: visible;
}


.card-group{
  display:flex;
  justify-content: center;
  padding: 50px 0px;
}

.card-title{
  width: auto;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #CCE3DE;
  padding: 3px;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
}

.card-text{
  padding: 10px 5px;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
}

.generalInputs{
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
}

.gen{
  padding:0px 15px;
  display: flex;
}

.gen select{
  border-radius: 7px;
  margin-left: 5px;
  background-color: #CCE3DE;
}

.tab {
  padding-bottom: 10px;
  display: inline-flex;
  overflow: hidden;
}

.tab button {
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  margin: 0px 2px;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.tab button:hover {
  background-color: #CCE3DE;
}

.tab button.active{
  background-color: #CCE3DE;
}

.atention{
  right:50%;
  color: red;
  font-size: 15px;
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

.tabcontent.show{
  display: block;
}

.form-check{
  display: flex;
}

.form-check-label:hover + #labeltooltip{
  visibility: visible;
}

#labeltooltip{
  margin-left: 5px;
  padding: 2px 10px;
  border-radius: 7px;
  background-color: darkgrey;
  visibility: hidden;

}

a:hover{
  text-decoration: none;
}


.input-field.error{
  border: 1px solid red;
  color: red;
}


input[type=radio]{
  border:2px solid black;
}

.inputLabel{
  display:flex;
}

.inputLabel p{
  display: none;
  color:darkgray;
  width: fit-content;
}

.inputLabel label:hover + p{
  display: flex;
}


#helpInLine{
  color:darkgray;
}

.form-check label{
  padding-left: 5px;

}

.activate{
  background-color: #6B9080;
  color:white;
}


.error-message{
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit{
  display: flex;
  justify-content: end;
  padding: 10px 10px;
}

.back-to-menu{
  padding: 10px;
  display: flex;
  justify-content: end;
}


.footer{
  display: flex;
  padding: 15px;
}


.Evs-item{
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 10px;
  border: black solid 2px;
  border-radius: 7px;
  cursor: pointer;
}

