.Intro{
  display: block;
  text-align: center;
  color:green;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 10px 50px 10px;
}

.container{
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 25px;
}

.p1{
  background-color: #EAF4F4;
  padding: 25px;
  border-radius: 25px;
  margin: 0px 10px;
}

.p2{
  background-color: #CCE3DE;
  padding: 25px;
  border-radius: 25px;
  margin: 0px 10px;
}
.buttonConfirm{
  margin-top: 25px;
  margin-bottom: 25px ;
}

