<app-header></app-header>

<div class="background">
  <ng-container *ngIf="role !== 'Docente'">
    <div class="container">
      <div class="panel">
        <div class="title">Atenção!!</div>
        <div class="message">
          Este Projeto foi desenvolvido para que apenas docentes o possam
          utilizar para usufruir das funcionalidades faça login com uma conta de
          Docente.
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="role === 'Docente'">
    <div class="card-group">
      <div class="panel">
        <div class="card-title">Iniciar uma nova avaliação</div>
        <div class="card-text">Preencher nova avaliação de docente</div>
        <div (click)="OpenNewEval()" class="btn-auth">Adicionar +</div>
      </div>
      <div class="panel">
        <div class="card-title">Editar avaliações incompletas</div>
        <div class="card-text">Editar as avaliações que foram inicializadas, mas ainda não foram submetidas</div>
        <div (click)="OpenSelectEv()" class="btn-auth">Aceder</div>
      </div>
      <div class="panel">
        <div class="card-title">Avaliações submetidas</div>
        <div class="card-text">Aceder ás avaliações finalizadas e submetidas no sistema.</div>
        <div (click)="openMyEval()" class="btn-auth">Aceder</div>
      </div>
    </div>
  </ng-container>
</div>
